extends layout

block content
  
  div.wrapper
    h1 Welcome #{user.fullName}!
    a(href="/logout") Logout 
    
    h3 All Posts 

    if postList.length 
        .grid
            each post in postList 
                .card   
                    a(href=post.url) #{post.title}
                    p #{post.description}
                    p #{post.date_formatted}
                    p #{post.user.fullName}
    else 
        #[strong There are no posts. Please create one.]

    a(href="/post/create") Create Post 

    a(href=user.url+"/getPosts") My Posts 

    a(href="/user/membership") Membership 






