extends layout

block content
  
  div.wrapper
    h1 Welcome #{user.fullName}!
   
    .links
        a(href="/post/create" class="button") Create Post 
        a(href="/user/membership" class="button") Membership 
        a(href="/user/admin" class="button") Admin
        a(href="/logout" class="button") Logout 
    h3 All Posts 

    if postList.length 
        .grid
            each post in postList 
                .card   
                    h3 #{post.title}
                    p #{post.description}
                    if user.membership
                        p #{post.date_formatted}
                        p #{post.user.username}
                    if user.isAdmin 
                        a(href=post.url+"/delete") Delete Post
    else 
        #[strong There are no posts. Please create one.]
    






